body {
	font-family: メイリオ;	
}
* {
margin: 0px;
padding: 0px;
}

/*共通部分*/
#acMenu {
	text-align: right;
}
ul li {
  	list-style: none;
  	cursor:pointer;
}
.close {
	display: none;
	text-align: left;
}
.close li {
	margin-left: 60%;
	background-color: #FF839F;
}
.cmenuIcon {
	padding: 3%;
	width: 70px;
	height: 70px;
}
.icon {
	width: 60px;
	height: 60px;
	padding: 2em;
	vertical-align: middle;
}
.menuBtn {
	margin: 3%;
	color: #fff;
	font-size: 1.7em;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 1em;
	padding-bottom: 1em;
}
#skin {
	margin: 0px 0px 0px 60%;
	text-align: right;
	padding-right: 1em;
}
#fruit {
	text-align: right;
	margin: 0px 0px 0px 60%;
	padding-right: 1em;
}
/*ログイン前画面*/
#divLoginBtn {
	text-align: right;
}
button.loginBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #C0C0C0;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 180px;
	height: 60px;
}
.fruitImg-base {
    background-color: black;    
    display: inline-block;
    margin-top: 10px;
}
.fruitImg {
	width: 100%;
	height: 40%;
	overflow: hidden;
	text-align: center;
	margin-top: 10px;
	opacity: 0.7; 
    display: block;
}
.indexImg {
	color: #FFFFFF;
	vertical-align: middle;
}
#indexMsg {
	line-height: 1.2;
	vertical-align: middle;
}
#indexTtl {
	margin: 3% 0px 3% 0px;
	font-size: 600%;
	line-height: 100%;
}
#indexStc {
	margin: 0px;
	font-size: 300%;
}
#divRegisterBtn {
	text-align: center;
}
button.registerBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 360px;
	height: 60px;
}
#loginLink {
	font-size: 1em;
	text-align: center;
}
/*会員登録画面*/
.ardFruitImg {
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin-top: 20%;
	margin-bottom: 20%;
    display: block;
}
#necTxt {
	text-align: center;
	font-size: 150%;
}
#registTxt{
	text-align: center;
}
#nameTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
}
#mailTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
}
#phoneTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
}
input.nameTxtbox{
	font-size: 20px;
	margin-top: 0px;
}
input.mailTxtbox{
	font-size: 20px;
	margin-top: 0px;
}
input.phoneTxtbox{
	font-size: 20px;
	margin-top: 0px;
}
#divSignUpBtn {
	text-align: center;
}
button.signUpBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 270px;
	height: 60px;
	margin-top: 5%;
}
/*ログイン画面*/
.ardFruitImg {
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin-top: 20%;
	margin-bottom: 20%;
    display: block;
}
#loginTxt{
	text-align: center;
 	float: left;
}
#loginIdTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
}
#passTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
}
input.loginIdTxtbox{
	font-size: 20px;
	margin-top: 0px;
}
input.passwordTxtbox{
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 20px;
	margin-top: 0px;
}
#divSignInBtn {
	text-align: center;
}
button.signInBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 180px;
	height: 60px;
	margin-top: 5%;
}
/*友達一覧画面*/
input.searchTxtbox{
	font-size: 22px;
	margin: 3%;
}
.searchBtn {
	border-radius: 30px;
	background-color: #FF3300;
	text-align: center;
	vertical-align: middle;
	padding: 1em;
	width: 30px;
	height: 30px;
}
#myInformation {
	text-align: left;
	padding: 2em;
}
#myName {
	font-size: 250%;
}
#myMail {
	font-size: 150%;
	vertical-align: middle;
}
.myIcon {
	border-radius: 50%;
	width: 200px;
	padding-left: 1em;
}
.mailIcon {
	position: relative;
	top: 10px;
	width: 50px;
}
#friendCnt {
	font-size: 100%;
	margin-left: 1%;
}
#friendList {
	margin: 2%;
}
.friendIcon {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
#friendName {
	font-size: 180%;
	vertical-align: middle;
	padding-left: 2em; 
}
#tradeFruit {
	position: fixed;
	right: 3%;
	bottom: 3%;
}
.tradeBtn {
	width: 230px;
}
/*送る情報選択画面*/
.mod_form {
	margin: 5%;
}
#predata {
	font-size: 180%;
	margin-bottom: 5%;
}
#tbselect {
	font-size: 200%;
	width: 100%;
}
.mod_form table tbody {
	border-spacing: 20%;
}
.checkbox01-input{
  	display: none;
}
.checkbox01-parts{
	padding-left: 40px;
	position:relative;
	margin-right: 40px;
}
.checkbox01-parts::before{
	  content: "";
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 30px;
	  height: 30px;
	  border: 1px solid;
	  border-radius: 4px;
}
.checkbox01-input:checked + .checkbox01-parts::after{
	  content: "";
	  display: block;
	  position: absolute;
	  top: -10px;
	  left: 10px;
	  width: 14px;
	  height: 28px;
	  transform: rotate(40deg);
	  border-bottom: 3px solid;
	  border-right: 3px solid;
}
.tdcontent {
	color: #C0C0C0;
}
.switch {
	text-align: right;
}
.switch__label {
	width: 100px;
	position: relative;
	display: inline-block;
}
.switch__content {
	display: block;
  	cursor: pointer;
  	position: relative;
  	border-radius: 60px;
  	height: 62px;
	overflow: hidden;
}
.switch__content:before {
	content: "";
	display: block;
	position: absolute;
	width: calc(100% - 3px);
	height: calc(100% - 3px);
	top: 0;
	left: 0;
	border: 1.5px solid #E5E5EA;
	border-radius: 60px;
	background-color: #fff;
}
.switch__content:after {
	content: "";
	display: block;
	position: absolute;
	background-color: transparent;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border-radius: 60px;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}
.switch__input {
	display: none;
}

.switch__circle {
	display: block;
	top: 4px;
	left: 4px;
	position: absolute;
	-webkit-box-shadow: 0 2px 6px #999;
	        box-shadow: 0 2px 6px #999;
	width: 54px;
	height: 54px;
	-webkit-border-radius: 40px;
	        border-radius: 40px;
	background-color: #fff;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}
.switch__input:checked ~ .switch__circle {
	left: 42px;
}
.switch__input:checked ~ .switch__content:after {
	background-color: #FF3300;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#divDecideBtn {
	text-align: center;
	margin-top: 5%;
}
button.decideBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 180px;
	height: 60px;
}
/*フルーツアニメーション画面*/
#animeField {
	text-align: center;
}
.anime {
	width: 100%;
}
.fruitQR {
	margin: 30% 10% 10% 10%;
	width: 80%;
}
button.tfHomeBtn {
	border-radius: 40px;
	font-size: 1.8em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 280px;
	height: 80px;
	margin-top: 0px;
	margin-bottom: 5%;
}
/*アカウント情報表示・編集画面*/
#account_information {
	text-align: center;
}
#editMyIcon {
	margin-top: 3%;
}
table.account_table {
	border-width: 0;
	text-align: center;
	width: 100%;
}
.editAcc {
	font-size: 200%;
	text-align: left;
}
#editIdTxt {
	padding-left: 3%;
}
#editId {
	text-align: right;
	padding: 1.5% 3% 1.5% 0%;
}
#editNameTxt {
	padding-left: 3%;
}
#editName {
	text-align: right;
	padding: 1.5% 3% 0% 0%;
}
#editMailTxt {
	padding-left: 3%;
}
#editMail {
	text-align: right;
	padding: 1.5% 3% 0% 0%;
}
#text_Form {
	text-align: right;
	padding: 0% 3% 1.5% 0%;
}
input.editTxtbox{
	font-size: 20px;
	text-align: left;
}
#editPassTxt {
	padding-left: 3%;
}
#editPass {
	text-align: right;
	padding: 1.5% 3% 1.5% 0%;
	animation: ripple .6s;
}
#editPhoneTxt {
	padding-left: 3%;
}
#editPhone {
	text-align: right;
	padding: 1.5% 3% 1.5% 0%;
}
#saveBtn{
	vertical-align: middle;
}
button.saveBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 120px;
	height: 60px;
}
#trEditPass {
	cursor: pointer;
	animation: ripple .6s;
}
#trEditPhone {
	cursor: pointer;
	animation: ripple .6s;
}
#trEditPass:hover {
	background-color: #E6E6E6;
}
#trEditPhone:hover {
	background-color: #E6E6E6;
}
.toEdit {
	color: #C0C0C0;
	margin-left: 2em;
	font-weight: bold;
	font-size: 80%;
}
button.backBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 250px;
	height: 60px;
	margin-top: 3%;
	margin-bottom: 3%;
}
/*パスワード変更画面*/
#uppass{
	text-align: center;
	margin-top: 20%;
	margin-bottom: 20%;
}
#oldpass {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
	margin-left: 20%;
}
#newpass {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
	margin-left: 20%;

}
#confpass {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
	margin-left: 20%;

}
input.txtbox{
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 5%;
}
button.updateBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 180px;
	height: 60px;
	margin-top: 5%;
}
/*電話番号変更画面*/
#upphone{
	text-align: center;
	margin-top: 20%;
	margin-bottom: 20%;
}
#nowphoneTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
	margin-left: 20%;
}
#nowphone {
	font-size: 200%;
	text-align: left;
	margin-bottom: 5%;
	margin-left: 20%;
}
#jtell {
	border: 1px solid #808080;
	font-size: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5%;
	padding: 0.7em;
}
#newphoneTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
	margin-left: 20%;
}
#phoneMsg {
	font-size: 100%;
	text-align: left;
	margin-bottom: 0px;
	margin-left: 20%;
}
/*認証コード入力画面*/
#auth {
	text-align: center;
}
#codeInputTxt {
	font-size: 150%;
	text-align: left;
	margin-top: 20%;
	margin-left: 20%;
	margin-bottom: 0px;
}
#authBtn {
	text-align: center;
	margin-bottom: 20%;
}
/*変更完了画面*/
#confTxt {
	font-size: 250%;
	text-align: center;
	margin-top: 20%;
	margin-bottom: 10%;
}
#homeBtn {
	text-align: center;
}
button.homeBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 250px;
	height: 60px;
	margin-top: 5%;
}
