body {
	font-family: メイリオ;	
}
* {
margin: 0px;
padding: 0px;
}

/*共通部分*/
#acMenu {
	text-align: right;
}
ul li {
  	list-style: none;
  	cursor:pointer;
}
.close {
	display: none;
	text-align: left;
}
.close li {
	margin-left: 60%;
	background-color: #FF839F;
}
.cmenuIcon {
	padding: 3%;
	width: 70px;
	height: 70px;
}
.icon {
	width: 60px;
	height: 60px;
	padding: 2em;
	vertical-align: middle;
}
.menuBtn {
	margin: 3%;
	color: #fff;
	font-size: 1.7em;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 1em;
	padding-bottom: 1em;
}
#skin {
	margin: 0px 0px 0px 60%;
	text-align: right;
	padding-right: 1em;
}
#fruit {
	text-align: right;
	margin: 0px 0px 0px 60%;
	padding-right: 1em;
}
/*ログイン前画面*/
#divLoginBtn {
	text-align: right;
}
button.loginBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #C0C0C0;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 180px;
	height: 60px;
}
.fruitImg-base {
    background-color: black;    
    display: inline-block;
    margin-top: 10px;
}
.fruitImg {
	width: 100%;
	height: 40%;
	overflow: hidden;
	text-align: center;
	margin-top: 10px;
	opacity: 0.7; 
    display: block;
}
.indexImg {
	color: #FFFFFF;
	vertical-align: middle;
}
#indexMsg {
	line-height: 1.2;
	vertical-align: middle;
}
#indexTtl {
	margin: 3% 0px 3% 0px;
	font-size: 600%;
	line-height: 100%;
}
#indexStc {
	margin: 0px;
	font-size: 300%;
}
#divRegisterBtn {
	text-align: center;
}
button.registerBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 360px;
	height: 60px;
}
#loginLink {
	font-size: 1em;
	text-align: center;
}
/*会員登録画面*/
.ardFruitImg {
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin-top: 20%;
	margin-bottom: 20%;
    display: block;
}
#necTxt {
	text-align: center;
	font-size: 150%;
}
#registTxt{
	text-align: center;
}
#nameTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
}
#mailTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
}
#phoneTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
}
input.nameTxtbox{
	font-size: 20px;
	margin-top: 0px;
}
input.mailTxtbox{
	font-size: 20px;
	margin-top: 0px;
}
input.phoneTxtbox{
	font-size: 20px;
	margin-top: 0px;
}
#divSignUpBtn {
	text-align: center;
}
button.signUpBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 270px;
	height: 60px;
	margin-top: 5%;
}
/*ログイン画面*/
.ardFruitImg {
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin-top: 20%;
	margin-bottom: 20%;
    display: block;
}
#loginTxt{
	text-align: center;
 	float: left;
}
#loginIdTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
}
#passTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
}
input.loginIdTxtbox{
	font-size: 20px;
	margin-top: 0px;
}
input.passwordTxtbox{
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 20px;
	margin-top: 0px;
}
#divSignInBtn {
	text-align: center;
}
button.signInBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 180px;
	height: 60px;
	margin-top: 5%;
}
/*友達一覧画面*/
input.searchTxtbox{
	font-size: 22px;
	margin: 3%;
}
.searchBtn {
	border-radius: 30px;
	background-color: #FF3300;
	text-align: center;
	vertical-align: middle;
	padding: 1em;
	width: 30px;
	height: 30px;
}
#myInformation {
	text-align: left;
	padding: 2em;
}
#myName {
	font-size: 250%;
}
#myMail {
	font-size: 150%;
	vertical-align: middle;
}
.myIcon {
	border-radius: 50%;
	width: 200px;
	padding-left: 1em;
}
.mailIcon {
	position: relative;
	top: 10px;
	width: 50px;
}
#friendCnt {
	font-size: 100%;
	margin-left: 1%;
}
#friendList {
	margin: 2%;
}
.friendIcon {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
#friendName {
	font-size: 180%;
	vertical-align: middle;
	padding-left: 2em; 
}
#tradeFruit {
	position: fixed;
	right: 3%;
	bottom: 3%;
}
.tradeBtn {
	width: 230px;
}
/*パスワード変更画面*/
#uppass{
	text-align: center;
	margin-top: 20%;
	margin-bottom: 20%;
}
#oldpass {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
	margin-left: 20%;
}
#newpass {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
	margin-left: 20%;

}
#confpass {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
	margin-left: 20%;

}
input.txtbox{
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 5%;
}
button.updateBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 180px;
	height: 60px;
	margin-top: 5%;
}
/*電話番号変更画面*/
#upphone{
	text-align: center;
	margin-top: 20%;
	margin-bottom: 20%;
}
#nowphoneTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
	margin-left: 20%;
}
#nowphone {
	font-size: 200%;
	text-align: left;
	margin-bottom: 5%;
	margin-left: 20%;
}
#jtell {
	border: 1px solid #808080;
	font-size: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5%;
	padding: 0.7em;
}
#newphoneTxt {
	font-size: 150%;
	text-align: left;
	margin-bottom: 0px;
	margin-left: 20%;
}
#phoneMsg {
	font-size: 100%;
	text-align: left;
	margin-bottom: 0px;
	margin-left: 20%;
}
/*認証コード入力画面*/
#auth {
	text-align: center;
}
#codeInputTxt {
	font-size: 150%;
	text-align: left;
	margin-top: 20%;
	margin-left: 20%;
	margin-bottom: 0px;
}
#authBtn {
	text-align: center;
	margin-bottom: 20%;
}
/*変更完了画面*/
#confTxt {
	font-size: 250%;
	text-align: center;
	margin-top: 20%;
	margin-bottom: 10%;
}
#homeBtn {
	text-align: center;
}
button.homeBtn {
	border-radius: 30px;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF3300;
	color: #fff;
	border-style: none;
	text-align: center;
	vertical-align: middle;
	width: 250px;
	height: 60px;
	margin-top: 5%;
}
